#product_form_description {
    height: 250px;
}

.shopping-cart-ico {
    max-height: 40px;
}

.shopping-cart-ico a {
    color: black;
}

.card-title {
    height: 3.5rem;
}

.card {
    margin-top: 2rem;
}

.card img {
    height: 160px;
}

.product-card-description {
    height: 50px;
}

.user-nav {
    margin: 0px 30px;
    width: 270px;
    justify-content: space-around;
}