{% extends 'base.html.twig' %}
{% block body %}
<div class="align-content-center">
    {% include 'product/_form.html.twig' %}
    <a href="{{ path('product_index') }}" class="btn btn-info">Back to products list</a>
</div>
{% endblock %}