{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        {% include 'product/_form.html.twig' %}


    </div>
{% endblock body %}
{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/uploadImage.js') }}"></script>

{% endblock %}