{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

  <div class="col-md-12">
    {{ form_start(userInfo) }}
    {{ form_errors(userInfo) }}

    {{ form_row(userInfo.user,{
      'value': app.user.email
    }) }}
    {{ form_end(userInfo) }}
  </div>
{% endblock %}
